<div class="container" id="main-content2">
<%= gmaps("map_options" => {
        "zoom" => 13,
        "center_latitude" => @latitude,
        "center_longitude" => @longitude,
        "auto_adjust" => false,
}, "markers" => { "data" => @json}) %>
    </div>