<% if current_user.nil?%>

    <html>
    <head>
      <meta charset="UTF-8">
      <title>dealhunter</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- Le styles -->

      <link href="/assets/bootstrap.css?body=1" media="screen" rel="stylesheet" type="text/css" />
      <link href="/assets/dealhunter.css?body=1" media="screen" rel="stylesheet" type="text/css" />
      <link href="/assets/formtastic.css?body=1" media="screen" rel="stylesheet" type="text/css" />
      <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

      <!--    <link href="/assets/bootstrap-responsive.css" rel="stylesheet">
      -->
      <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
      <!--[if lt IE 9]>
      <script src="/assets/html5shiv.js"></script>
      <![endif]-->

    </head>


    <body id="page-micuenta">

    <!--header-->
    <header id="top">
      <div class="container">
        <div class="row">
          <div class="span3" id="logo-header"><a href="/offers"><img src="/assets/logo-header.png"></a></div>

        </div><!--end row-->
      </div><!--end container header-->
    </header><!--end header-->



    <div class="container" id="main-content">
    <div class="row">
    <section class="span12">
    <header class="out">
      <h2>Preguntas Frecuentes</h2>
    </header>

    <div class="wrapper-padding">

    <div class="wrapper">
      <article>

        <div class="accordion">
          <ul class="accord-tab clearfix">
            <li>
              <h3>¿Cómo puedo hacerme miembre de dealhunter Argentina?</h3>
            </li>
            <li>
                  <span>

                </span>
            </li>
          </ul>
          <div class="accord_cont">
            <p>Existen dos maneras de acceder a una membresía:</p>
            <ol>
              <li>
                <p>Podes aplicar desde nuestro formulario online y luego nuestro departamento de admisiones procesara la información enviada para otorgarte tu membresía.</p>
              </li>
              <li>
                <p>Un miembro puede invitar a sus amigos a ser parte de dealhunter. Si conoces alguien que ya es miembro pedile que te envía una invitación y accede a nuestra membresía. </p>
              </li>
            </ol>
          </div>

          <ul class="accord-tab clearfix">
            <li><h3>¿Qué ofrecemos a nuestros miembros?</h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p>Podes invitar a tus amigos y familiares desde la sección “INVITAR AMIGOS”  e invitarlos a aprovechar las numerosas ofertas que ofrecemos en nuestra página. </p>
            <p>Las direcciones e-mail de tus ahijados serán utilizadas sólo para enviar la invitación. No serán cedidas ni utilizadas para otro fin.</p>
            <p>Invitando a tus contactos obtendrás un crédito por $30 por la primera compra de cada uno de tus invitados en nuestra página web. </p>
            <p>Cuando alguno de tus invitados realice su primera compra en dealhunter.com.ar, te enviaremos un e-mail para informarte. Los créditos son válidos durante 6 meses a partir de la fecha de obtención y son acumulables. Los mismos son activados en tu cuenta una vez que tu invitado haya hecho efectiva la compra. </p>
          </div>

          <ul class="accord-tab clearfix">
            <li><h3>Gestión de mi cuenta</h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p>En este espacio personal y totalmente seguro encontrarás toda la información que desees y podrás visualizar y modificar todas las informaciones.</p> 
            <ul>
              <li>
                <p> <b>Resumen:</b> podrás ver tus reservas actuales, las pasadas y canceladas con la posibilidad de dejar un comentario en cada una de ellas para contarnos tu experiencia.
                </p>
              </li>
              <li>
                <p> <b>Datos Personales:</b> aquí podrás modificar cualquier tipo de información personal. 
                </p>
              </li>
              <li>
                <p> <b> Reclamos:</b> en esta sección el usuario podrás ver el estado de tus reclamos. Te mostraremos un listado con cada uno de ellos donde tendrás asignado un numero de reclamo, el estado del mismo y tu asesor designado.
                </p>
              </li>
              <li>
                <p> <b>Ayuda: </b> encontrarás todas las respuestas a tus inquietudes.</p>
              </li>
              <li>
                <p><b>Salir: </b> cerrar sesión</p>
              </li>
            </ul>
          </div>

          <ul class="accord-tab clearfix">
            <li><h3>Deseo modificar mis datos personales (email, contraseña, etc.)</h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p>Para ello debes dirigirte al apartado “Mi cuenta“ y seguidamente : “Configuración“. En este apartado tienes la posibilidad de modificar tus datos personales. </p>
          </div>

          <ul class="accord-tab clearfix">
            <li><h3>Mi crédito disponible</h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p>Podrás utilizar la totalidad o parte del crédito disponible que figura en tu resumen de cuenta para comprar cualquiera de nuestras ofertas de viaje.</p>
            <p> Cuando alguno de tus invitados realice su primera compra, te enviaremos un e-mail para informarte de la misma. Cada crédito obtenido tiene una validez de 6 meses desde la fecha de obtención. </p>
            <p>  Podrás utilizarlo cuando lo desees seleccionándolos en el momento realizar tus reservas. </p>
          </div>

          <ul class="accord-tab clearfix">
            <li><h3>¿Cómo hacer una reserva en la web o por teléfono?</h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p>Puedes reservar en www.dealhunter.com o contactarte con nuestro departamento de reservas:</p> 
            <p> 0 800 345 trip </p>
            <p> Disponible de lunes a viernes de 9:00 a 18:00hs.  </p>
          </div>

          <ul class="accord-tab clearfix">
            <li><h3>¿Cuál es el proceso de una venta?</h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p>Tres veces por semana recibirás un email anunciándote todas nuestras ofertas, donde te mostraremos los nuevos destinos, precios y tiempo de vigencia de cada una de ellas. Podrás acceder a las mismas haciendo click en cada imagen y realizar tu reserva online si así lo deseas. </p>
          </div>


          <ul class="accord-tab clearfix">
            <li><h3>¿Es seguro comprar en dealhunter Argentina?</h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p>Comprar en dealhunters es totalmente seguro. Sus datos son protegidos a lo largo de todo el proceso de compra.</p>
            <p>Todas las validaciones de pago son controladas por la plataforma de pago seguro desarrollada por MercadoPago Argentina.</p>
          </div>

          <ul class="accord-tab clearfix">
            <li><h3>¿Qué posibilidades de pago puedo utilizar para proceder a mis compras?</h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p>Tu pago puede ser efectuado con las siguientes tarjetas:</p>
            <ul>
              <li>Visa</li>
              <li>Mastercard </li>
              <li>American Experess</li>
              <li>Tarjeta Naranja</li>
              <li>Tarjeta Shopping</li>
              <li>Argencard</li>
              <li>Cabal</li>
                 <li>Cencosud</li>
            </ul>
          </div>


          <ul class="accord-tab clearfix">
            <li><h3>¿Qué puedo hacer si mi pago ha sido rechazado?</h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p> Te aconsejamos de intentar contactar en un primer momento con tu banco con la finalidad de verificar si tienes un límite de crédito. </p>
            <p> Si no es la causa, te invitamos que te pongas en contacto con nosotros via telefónica al 0 800 345 trip o reclamos@dealhunter.com.ar. </p>
            <p> Si decides comunicarte por teléfono intentaremos encontrar una solución para poder efectuar tu pago por teléfono y hacer efectiva tu compra.</p>
          </div>

          <ul class="accord-tab clearfix">
            <li><h3>¿Cuándo voy a recibir la confirmación de mi viaje? </h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p>Cuando tu pago este confirmado (online se da automáticamente), te enviaremos el número de reserva por email junto a los detalles de tu viaje. </p>
            <p>El hotel o complejo recibirá tu reserva y una vez finalizada la campaña nuestro departamento de reservas se encargará de confirmar las mismas. El día del check in deberás presentarte con tu dni y el de tus acompañantes para completar los datos solicitados por el hotel o complejo.</p>
          </div>


          <ul class="accord-tab clearfix">
            <li><h3>Deseo modificar mi reserva </h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p>Para asegurar un mejor seguimiento de tus cambios e inquietudes, cualquier petición de modificación de tu reserva debe ser efectuada por email. </p>
            <p>Cualquier modificación de la reserva (exceptuando la fecha de salida), que se realice por parte del cliente y antes de la salida estará sujeta a disponibilidad del hotel o complejo elegido..</p>
          </div>

          <ul class="accord-tab clearfix">
            <li><h3>Advertencia</h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p>La modificación de la fecha de salida tiene como consecuencia la anulación de la reserva. Por ello, esta modificación puede implicar ciertos gastos.</p>
          </div>


          <ul class="accord-tab clearfix">
            <li><h3>Deseo cancelar mi reserva  </h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p> Para asegurar un mejor seguimiento de tus cambios e inquietudes, cualquier petición de modificación de tu reserva debe ser efectuada por email.  </p>
            <p> Te recordamos que para cualquier anulación de tu parte antes de la salida generará los siguientes gastos:</p>
            <ul>
              <li>Hasta 30 días antes de la fecha de ingreso = sin costo alguno</li>
              <li>Entre 30 y 15 días antes de la fecha de inicio = 30% del Importe Total de la estadía </li>
              <li>Entre 15 y 10 días antes de la fecha de inicio = 55 % del Importe Total de la estadía</li>
              <li>Entre 10 y 7 días antes de la fecha de inicio = 75 % del Importe Total de la estadía </li>
              <li>Menos de 7 días antes de la fecha de inicio = 100 % del Importe Total de la estadía.</li>
            </ul>
            <p>Excepto condiciones especiales y particulares estipuladas por los proveedores.  El monto a devolver se realizará en crédito para consumir en dealhunter.  </p>
          </div>

          <ul class="accord-tab clearfix">
            <li><h3>Deseo realizar un reclamo ¿Cómo hago? </h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p>Le comunicamos que si deseas enviarnos un reclamo, deberás comunicarte al 0 800 345 trip o via e-mail a reclamos@dealhunter.com.ar </p>
            <p> Nuestro departamento de atención al cliente se pondrá en contacto contigo en el menor tiempo posible.</p>
          </div>


        </div><!--end accordion-->

      </article>

    </div>
    <!--end wrapper-->
    </div>
    </section>
    <!--end main content-->
    </div><!--end container-->
    </div><!--end row-->


    <!--footer-->
    <footer id="footer-wrapper">
      <div class="container" >
        <div class="row" id="footer-top">
          <div class="span6 hidden-phone"><img id="footer-top-img" src="/assets/logo-footer.png"></div>
          <div class="span6">
            <ul id="custumer-support" class="pull-right">
              <li class="custumer-support-title">Atención al Cliente</li>
              <li class="telephone-number">0800-345-TRIP(8747)</li>
              <li class="contact-mail"><a href="<%= pages_contact_path %>"><i class="icon-contact-mail"></i> info@dealhunter.com</a></li>
            </ul>
          </div>
        </div>

        <hr>

        <div id="footer-middle" class="row">
          <div class="span7">
            <nav>
              <ul class="inline">
                <li><a href="/pages/we">Quiénes Somos</a></li>
                <li><a href="/pages/work_with_us">Trabajá con Nosotros</a></li>
                <li><a href="/pages/terms_and_conds">Términos y Condiciones</a></li>
                <li><a href="/pages/faqs">Ayuda</a></li>
                <li><a href="/pages/contact">Contacto</a></li>
              </ul>
            </nav>
            <p class="copyright">Copyright © 2013 dealhunter.com. Todos los derechos reservados</p>
          </div>

          <div class="span5">
            <ul class="inline pull-right social">
              <li><a href="http://www.facebook.com/dealhunterargentina" target="_blank"><img src="/assets/icon-fb.png"></a></li>
              <li><a href="https://twitter.com/dealhunterArg" target="_blank"><img src="/assets/icon-twitter.png"></a></li>
              <li><a href="https://plus.google.com/116522684361738618061" target="_blank"><img src="/assets/icon-gPlus.png"></a></li>

            </ul>
          </div>
        </div>

      </div>


    </footer><!--end footer-->



<% else %>


    <div class="container" id="main-content">
    <div class="row">
    <section class="span12">
    <header class="out">
      <h2>Preguntas Frecuentes</h2>
    </header>

    <div class="wrapper-padding">

    <div class="wrapper">
      <article>

        <div class="accordion">
          <ul class="accord-tab clearfix">
            <li>
              <h3>¿Cómo puedo hacerme miembre de dealhunter Argentina?</h3>
            </li>
            <li>
                  <span>

                </span>
            </li>
          </ul>
          <div class="accord_cont">
            <p>Existen dos maneras de acceder a una membresía:</p>
            <ol>
              <li>
                <p>Podes aplicar desde nuestro formulario online y luego nuestro departamento de admisiones procesara la información enviada para otorgarte tu membresía.</p>
              </li>
              <li>
                <p>Un miembro puedo invitar a sus amigos a ser parte de dealhunter. Si conoces alguien que ya es miembro pedile que te envía una invitación y accede a nuestra membresía. </p>
              </li>
            </ol>
          </div>

          <ul class="accord-tab clearfix">
            <li><h3>¿Qué ofrecemos a nuestros miembros?</h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p>Podes invitar a tus amigos y familiares desde la sección “INVITAR AMIGOS”  e invitarlos a aprovechar las numerosas ofertas que ofrecemos en nuestra página. </p>
            <p>Las direcciones e-mail de tus ahijados serán utilizadas sólo para enviar la invitación. No serán cedidas ni utilizadas para otro fin.</p>
            <p>Invitando a tus contactos obtendrás un crédito por $30 por la primera compra de cada uno de tus invitados en nuestra página web. </p>
            <p>Cuando alguno de tus invitados realice su primera compra en dealhunter.com.ar, te enviaremos un e-mail para informarte. Los créditos son válidos durante 6 meses a partir de la fecha de obtención y son acumulables. Los mismos son activados en tu cuenta una vez que tu invitado haya hecho efectiva la compra. </p>
          </div>

          <ul class="accord-tab clearfix">
            <li><h3>Gestión de mi cuenta</h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p>En este espacio personal y totalmente seguro encontrarás toda la información que desees y podrás visualizar y modificar todas las informaciones.</p> 
            <ul>
              <li>
                <p> <b>Resumen:</b> podrás ver tus reservas actuales, las pasadas y canceladas con la posibilidad de dejar un comentario en cada una de ellas para contarnos tu experiencia.
                </p>
              </li>
              <li>
                <p> <b>Datos Personales:</b> aquí podrás modificar cualquier tipo de información personal. 
                </p>
              </li>
              <li>
                <p> <b> Reclamos:</b> en esta sección el usuario podrás ver el estado de tus reclamos. Te mostraremos un listado con cada uno de ellos donde tendrás asignado un numero de reclamo, el estado del mismo y tu asesor designado.
                </p>
              </li>
              <li>
                <p> <b>Ayuda: </b> encontrarás todas las respuestas a tus inquietudes.</p>
              </li>
              <li>
                <p><b>Salir: </b> cerrar sesión</p>
              </li>
            </ul>
          </div>

          <ul class="accord-tab clearfix">
            <li><h3>Deseo modificar mis datos personales (email, contraseña, etc.)</h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p>Para ello debes dirigirte al apartado “Mi cuenta“ y seguidamente : “Configuración“. En este apartado tienes la posibilidad de modificar tus datos personales. </p>
          </div>

          <ul class="accord-tab clearfix">
            <li><h3>Mi crédito disponible</h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p>Podrás utilizar la totalidad o parte del crédito disponible que figura en tu resumen de cuenta para comprar cualquiera de nuestras ofertas de viaje.</p>
            <p> Cuando alguno de tus invitados realice su primera compra, te enviaremos un e-mail para informarte de la misma. Cada crédito obtenido tiene una validez de 6 meses desde la fecha de obtención. </p>
            <p>  Podrás utilizarlo cuando lo desees seleccionándolos en el momento realizar tus reservas. </p>
          </div>

          <ul class="accord-tab clearfix">
            <li><h3>¿Cómo hacer una reserva en la web o por teléfono?</h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p>Puedes reservar en www.dealhunter.com.ar o contactarte con nuestro departamento de reservas:</p> 
            <p> 0 800 345 TRIP </p>
            <p> Disponible de lunes a viernes de 9:00 a 18:00hs.  </p>
          </div>

          <ul class="accord-tab clearfix">
            <li><h3>¿Cuál es el proceso de una venta?</h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p>Tres veces por semana recibirás un email anunciándote todas nuestras ofertas, donde te mostraremos los nuevos destinos, precios y tiempo de vigencia de cada una de ellas. Podrás acceder a las mismas haciendo click en cada imagen y realizar tu reserva online si así lo deseas. </p>
          </div>


          <ul class="accord-tab clearfix">
            <li><h3>¿Es seguro comprar en dealhunter Argentina?</h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p>Comprar en dealhunters es totalmente seguro. Sus datos son protegidos a lo largo de todo el proceso de compra.</p>
            <p>Todas las validaciones de pago son controladas por la plataforma de pago seguro desarrollada por MercadoPago Argentina.</p>
          </div>

          <ul class="accord-tab clearfix">
            <li><h3>¿Qué posibilidades de pago puedo utilizar para proceder a mis compras?</h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p>Tu pago puede ser efectuado con las siguientes tarjetas:</p>
            <ul>
              <li>Visa</li>
              <li>Mastercard </li>
              <li>American Experess</li>
              <li>Tarjeta Naranja</li>
              <li>Tarjeta Shopping</li>
              <li>Argencard</li>
              <li>Cabal</li>
                 <li>Cencosud</li>
            </ul>
          </div>


          <ul class="accord-tab clearfix">
            <li><h3>¿Qué puedo hacer si mi pago ha sido rechazado?</h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p> Te aconsejamos de intentar contactar en un primer momento con tu banco con la finalidad de verificar si tienes un límite de crédito. </p>
            <p> Si no es la causa, te invitamos que te pongas en contacto con nosotros via telefónica al 0 800 345 trip o reclamos@dealhunter.com.ar. </p>
            <p> Si decides comunicarte por teléfono intentaremos encontrar una solución para poder efectuar tu pago por teléfono y hacer efectiva tu compra.</p>
          </div>

          <ul class="accord-tab clearfix">
            <li><h3>¿Cuándo voy a recibir la confirmación de mi viaje? </h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p>Cuando tu pago este confirmado (online se da automáticamente), te enviaremos el número de reserva por email junto a los detalles de tu viaje. </p>
            <p>El hotel o complejo recibirá tu reserva y una vez finalizada la campaña nuestro departamento de reservas se encargará de confirmar las mismas. El día del check in deberás presentarte con tu dni y el de tus acompañantes para completar los datos solicitados por el hotel o complejo.</p>
          </div>


          <ul class="accord-tab clearfix">
            <li><h3>Deseo modificar mi reserva </h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p>Para asegurar un mejor seguimiento de tus cambios e inquietudes, cualquier petición de modificación de tu reserva debe ser efectuada por email. </p>
            <p>Cualquier modificación de la reserva (exceptuando la fecha de salida), que se realice por parte del cliente y antes de la salida estará sujeta a disponibilidad del hotel o complejo elegido..</p>
          </div>

          <ul class="accord-tab clearfix">
            <li><h3>Advertencia</h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p>La modificación de la fecha de salida tiene como consecuencia la anulación de la reserva. Por ello, esta modificación puede implicar ciertos gastos.</p>
          </div>


          <ul class="accord-tab clearfix">
            <li><h3>Deseo cancelar mi reserva  </h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p> Para asegurar un mejor seguimiento de tus cambios e inquietudes, cualquier petición de modificación de tu reserva debe ser efectuada por email.  </p>
            <p> Te recordamos que para cualquier anulación de tu parte antes de la salida generará los siguientes gastos:</p>
            <ul>
              <li>Hasta 30 días antes de la fecha de ingreso = sin costo alguno</li>
              <li>Entre 30 y 15 días antes de la fecha de inicio = 30% del Importe Total de la estadía </li>
              <li>Entre 15 y 10 días antes de la fecha de inicio = 55 % del Importe Total de la estadía</li>
              <li>Entre 10 y 7 días antes de la fecha de inicio = 75 % del Importe Total de la estadía </li>
              <li>Menos de 7 días antes de la fecha de inicio = 100 % del Importe Total de la estadía.</li>
            </ul>
            <p>Excepto condiciones especiales y particulares estipuladas por los proveedores.  El monto a devolver se realizará en crédito para consumir en dealhunter.  </p>
          </div>

          <ul class="accord-tab clearfix">
            <li><h3>Deseo realizar un reclamo ¿Cómo hago? </h3></li>
            <li><span></span></li>
          </ul>
          <div class="accord_cont">
            <p>Le comunicamos que si deseas enviarnos un reclamo, deberás comunicarte al 0 800 345 trip o via e-mail a reclamos@dealhunter.com.ar </p>
            <p> Nuestro departamento de atención al cliente se pondrá en contacto contigo en el menor tiempo posible.</p>
          </div>


        </div><!--end accordion-->

      </article>

    </div>
    <!--end wrapper-->
    </div>
    </section>
    <!--end main content-->
    </div><!--end container-->
    </div><!--end row-->

<% end %>


<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="../assets/faqs.js"></script>

