<% if current_user.nil? %>

    <body id="page-micuenta">

    <!--header-->
    <header id="top">
      <div class="container">
        <div class="row">
          <div class="span3" id="logo-header"><a href="/offers"><img src="/assets/logo-header.png"></a></div>

        </div>
        <!--end row-->
      </div>
      <!--end container header-->
    </header>
    <!--end header-->


    <div class="container" id="main-content" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">
      <div class="row">
        <section class="span12">
          <header class="out">
            <h2>Acerca de Dealhunter</h2>
          </header>

          <div class="wrapper-padding">

            <div class="wrapper">
              <article>
                <p>En DealHunter nos gustan las ofertas y los desafiós, por eso creamos esta web con el objetivo que vos
                  te diviertas tanto como nosotros.</p>

                <p>Cada día una nueva oferta, un nuevo entretenimiento, se el primero en llegar, obtene premios, los
                  mejores descuentos en productos y servicios de primeras marcas.</p>

                <p>Cada dia elegimos cuidadosamente nuestras ofertas junto a nuestro equipo de expertos.</p>

                <p>Hacete socio ahora de dealhunter.com.ar y disfruta de nuestras exclusivas ofertas.</p>

                <h5>Bienvenidos a dealhunter Argentina!</h5>

              </article>

              <hr>

            </div>
            <!--end wrapper-->
          </div>
          <!--end wrapper-padding-->
        </section>
        <!--end main content-->
      </div>
      <!--end container-->
    </div>
    <!--end row-->

<% else %>


    <div class="container" id="main-content" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">
      <div class="row">
        <section class="span12">
          <header class="out">
            <h2>dealhunter es tu club privado de viajes y escapadas premium.</h2>
          </header>

          <div class="wrapper-padding">

            <div class="wrapper">
              <article>
                <p>En DealHunter nos gustan las ofertas y los desafiós, por eso creamos esta web con el objetivo que vos
                  te diviertas tanto como nosotros.</p>

                <p>Cada día una nueva oferta, un nuevo entretenimiento, se el primero en llegar, obtene premios, los
                  mejores descuentos en productos y servicios de primeras marcas.</p>

                <p>Cada dia elegimos cuidadosamente nuestras ofertas junto a nuestro equipo de expertos.</p>

                <p>Hacete socio ahora de dealhunter.com.ar y disfruta de nuestras exclusivas ofertas.</p>

                <h5>Bienvenidos a dealhunter Argentina!</h5>

              </article>

              <hr>

            </div>
            <!--end wrapper-->
          </div>
          <!--end wrapper-padding-->
        </section>
        <!--end main content-->
      </div>
      <!--end container-->
    </div><!--end row-->

<% end %>
