<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un cambio de contraseña para esta cuenta, lo cual puede realizarse mediante el link de aquí abajo.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no solicitaste este cambio, ignorá este email.</p>
<p>Tu contraseña no se cambiará a menos que hagas click en el link y ingreses una nueva.</p>
