<p>Welcome <%= @resource.email %>!</p>

<p>You can confirm your password change through the link below:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn´t request the password change, ignore this email and your password will remain the same.</p>